
img.full {
  width: 100% !important; 
  max-width: 800px;
  display: block;
  margin: auto !important;
}

img.center {
  display: block;
  margin: auto !important;
}

div.center {
  display: flex;
  justify-content: center;
  align:center;
}


.markdownPane a {
  /* Your styles here */
  word-wrap: 'break-word'; 
  overflow-wrap: 'break-word';
  word-break: 'break-word';

}

.markdownPane img {
  /* max-width: 100%; */
  width: 325px;
  margin: 8px;
  
}



.hide-scrollbar {
  overflow: auto; /* Enables scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge (legacy) */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}