
img.full {
  width: 90% !important; 
  max-width: 800px;
  display: block;
  margin: auto !important;
}

img.center {
  display: block;
  margin: auto !important;
}

img.right {
  display: block;
  margin-left: auto !important;
}

div.center {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
}

div.right {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  flex-wrap: wrap;
}


.markdownPane a {
  /* break those long ahh links */
  word-wrap: 'break-word'; 
  overflow-wrap: 'break-word';
  word-break: 'break-word';

}

.markdownPane img {
  width: 325px;
  margin: 8px;
  max-width: 100%;
}



.hide-scrollbar {
  overflow: auto; /* Enables scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge (legacy) */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}