
img.full {
  width: 90% !important; 
  max-width: 700px !important; 
  display: block;
  margin: auto !important;
}

img.center {
  display: block;
  margin: auto !important;
}

img.right {
  display: block;
  margin-left: auto !important;
}

div.center {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
}

div.right {
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  flex-wrap: wrap;
}


.markdownPane h1,
.markdownPane h2,
.markdownPane h3,
.markdownPane h4,
.markdownPane h5,
.markdownPane h6 {
  margin-top: 1.25em;
  margin-bottom: 0.16em;
}

.markdownPane h1:first-of-type {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.markdownPane h2 + p,
.markdownPane h3 + p,
.markdownPane h4 + p {
  margin-top: 0;
}

.markdownPane h2 + h3,
.markdownPane h3 + h4,
.markdownPane h4 + h5,
.markdownPane h5 + h6 {
  margin-top: 0.5em;
}

.markdownPane a {
  /* break those long ahh links */
  word-wrap: 'break-word'; 
  overflow-wrap: 'break-word';
  word-break: 'break-word';

}

.markdownPane img {
  width: 325px;
  margin: 8px;
  max-width: 100%;
  transition: all 0.3s ease;
}

img.noZoom{
  transform: none !important;
}

.markdownPane img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.hide-scrollbar {
  overflow: auto; /* Enables scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge (legacy) */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.searchPage mark {
  background-color: rgba(255, 220, 100, 0.35);
  padding: 0 2px;
  border-radius: 2px;
}